@font-face {
    font-family: 'Canvas';
    src: url(fonts/MADE\ Canvas\ Black\ PERSONAL\ USE.otf);
}
@font-face {
    font-family: 'Ballpark';
    src: url(fonts/BALLW___.TTF);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
body {
    background: black;
    color: white;
    max-width: 1110px;
    margin-inline: auto;
    cursor: default;
}

/* navbar */
.navbar {
    height: 70px;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar .logo {
    font-family: Ballpark;
    font-size: 30px;
    font-weight: bold;
}
.nav-main ul {
    display: flex;
    gap: 20px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* hero section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.hero .container {
    position: relative;
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.hero .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    clip-path: circle(170px at center);
    transition: .5s;
}
.hero .container:hover .circle {
    clip-path: circle(400px at center);
    background: orange;
}
.hero .headline {
    position: absolute;
    color: pink;
    pointer-events: none;
    transition: .3s;
    color: orange;
    font-size: 150px;
    width: 1000px;
    font-family: Canvas;
    text-align: center;
    opacity: 1;
    visibility: visible;
}
.hero .container:hover .headline {
    opacity: 0;
    visibility: hidden;
}
.hero .content {
    position: relative;
    display: block;
    text-align: center;
    transition: .1s ease-in .1s;
    opacity: 0;
    visibility: hidden;
}
.hero .container:hover .content {
    opacity: 1;
    visibility: visible;
} 
.hero .content h2 {
    font-family: Ballpark;
    font-size: 100px;
}
.hero .content p {
    font-family: 'Times New Roman', Times, serif;
}

.hero .container .btn {
    display: inline-block;
    text-align: center;
    transition: .3s;
    padding: 3px 30px;
    margin-top: 10px;
    border-radius: 20px;
    background: rgb(106, 79, 28);
}
.hero .container .btn:hover {
    cursor: pointer;
    background: #7289d9;
    
}